.PeopleMenu__outer {
  flex: 1;
  background: #fafafa;
  min-width: 260px;
  max-width: 300px; }

.PeopleMenu__outer > div > div:not(:first-child) > span {
  border: 1px solid #eee;
  margin: -1px 0 0 -1px; }

@media screen and (max-width: 750px) {
  .PeopleMenu__outer {
    width: 100%;
    max-width: none;
    background: white; } }
