@import 'common.scss';

.PeopleMenu__outer {
  flex: 1;
  min-width: 260px;
  max-width: 300px;
}

@media screen and (max-width: $mainMenuTabsBreakPoint) {
  .PeopleMenu__outer {
    width: 100%;
    max-width: none;
    background: white;
  }
  .PeopleMenu__outer > div > div {
    @include flatCard;
  }
}
