.VerbsMenu__outer {
  display: flex;
  flex-wrap: wrap; }

.VerbsMenu__outer > div {
  width: 33%;
  min-width: 225px;
  border: 1px solid #eee;
  margin: -1px 0 0 -1px; }

@media screen and (max-width: 675px) {
  .VerbsMenu__outer > div {
    width: 100%; } }
