@import 'common.scss';

.Game__outer {
  width: 95%;
  max-width: 650px;
  margin: 20px auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game__conjugationsContainer {
  width: 100%;
}

.Game__accentedLetters {
  margin: 12px auto;
}

.Game__accentedLetters span {
  text-transform: lowercase !important;
}

@media screen and (max-width: $gameMobileBreakPoint) {
  .Game__outer {
    margin-top: 10px;
  }
}
