@import 'common.scss';

.MainMenu__outer {
  display: flex;
  height: 100%;
}

.MainMenu__outer--tabs {
  display: none;
}

.MainMenu_rightContainer {
  height: 100%;
  overflow: auto;
}

.MainMenu__startButton {
  position: absolute;
  top: 5px;
  right: 12px;
}

@media screen and (max-width: $mainMenuTabsBreakPoint) {
  .MainMenu__outer {
    display: none;
  }
  .MainMenu__outer--tabs {
    display: block;
  }
  .MainMenu__startButton {
    right: 5px;
    top: 54px;
  }
}
