.TensesMenu__outer {
  flex: 3;
  max-width: 1400px; }

.TensesMenu__outer > div {
  display: flex;
  flex-wrap: wrap; }

.TensesMenu__outer > div > div:not(:first-child) {
  width: 33%;
  border: 1px solid #eee;
  margin: -1px 0 0 -1px; }

@media screen and (max-width: 1070px) {
  .TensesMenu__outer > div > div:not(:first-child) {
    width: 50%; } }

@media screen and (max-width: 750px) {
  .TensesMenu__outer > div > div:not(:first-child) {
    width: 100%; } }
