$ultraLight: #fafafa;
$lightGrey: #eee;

$mainMenuBreakPoint1: 1070px;
$mainMenuTabsBreakPoint: 750px;
$gameMobileBreakPoint: 440px;

@mixin flatCard {
  border: 1px solid $lightGrey;
  margin: -1px 0 0 -1px;
}
