@import 'common.scss';

.VerbsMenu__outer {
  display: flex;
  flex-wrap: wrap;
}

$minWidth: 225px;

.VerbsMenu__outer > div {
  width: 33%;
  min-width: $minWidth;
  @include flatCard;
}

@media screen and (max-width: $mainMenuBreakPoint1) {
  .VerbsMenu__outer > div {
    width: 50%;
  }
}
