@import 'common.scss';

.VerbsMenu__outer {
  display: flex;
  flex-wrap: wrap;
}

$minWidth: 225px;

.VerbsMenu__outer > div {
  width: 33%;
  min-width: $minWidth;
  @include flatCard;
}

// .VerbsMenu__outer > div > div:not(:first-child) {
// }

@media screen and (max-width: (3 * $minWidth)) {
  .VerbsMenu__outer > div {
    width: 100%;
  }
}
